<?xml version="1.0" encoding="utf-8"?>

<manifest package="{{package.name}}" versionCode="1" versionName="1.0" >
  <uses-sdk targetSdkVersion="1" />
  <application persistent="true" category="red" product="">
    <start-on event=""/>
  </application>
</manifest>
